.Lista {
  text-align: center;
  justify-content: center;
  display: flex;
  width: 30px;
  margin-left: 540px;
}
ul li .InputCSS {
  border: 1px solid gainsboro;
  text-align: center;
  justify-content: center;
  display: flex;
  width: 350px;
}